[Unit]
Description=Presto
After=syslog.target network.target

[Service]
User=cd3ans
Type=forking
ExecStart=/opt/presto/current/bin/launcher start
ExecStop=/opt/presto/current/bin/launcher stop
WorkingDirectory=/opt/presto/current/bin/
Restart=always
StartLimitIntervalSec=0
RestartSec=3
LimitNPROC=65535
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target


